# Datasets
CARE-PD/
Canonicalized_SMPL_pickles/
*.pkl

# Weights and Checkpoints
*.pth
*.tar
*.bin
weights/
assets/
MoCha_baseline_bundle/weights/
!MoCha_baseline_bundle/weights/backbone/motion_encoder_finetuned.pth
CARE-PD_github/assets/
!CARE-PD_github/assets/Pretrained_checkpoints/momask/net_best_fid.tar
!CARE-PD_github/assets/Pretrained_checkpoints/momask/opt.txt

# Zips
*.zip

# Generated Features
*.csv
*.npy

# Python Caches
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.env

# System Files
.DS_Store
Thumbs.db
